.upper_container {
   
}

.save_pass{
    background-color: var(--brand-color);
    color: #EFF3F8;
}

.bottom_container {
    margin-top: 10rem;
}

.bottom_container h5{
    color: var(--brand-color);
    text-align: center;
}

.bottom_container button{
    background-color: #EFF3F8;
    color: var(--brand-color);
    margin-bottom: 5rem;
}