.formContainer {
  position: relative;
  top: -2rem;
}

.formContainer p {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.formContainer select {
  background-color: #EFF3F8;
  padding: 16px;
  border: none;
  width: 100%;
  border-radius: 8px;
  color: var(--dark-10);
  margin-bottom: 1rem;
}

.both_div{
  display: flex;
 
}

.both_div input{
  margin-bottom: 0.5rem;
}

.left_div{
  width: 50%;
  margin-right: 0.5rem;
}

.right_div{
  width: 50%;

}
.button_continue {
  background-color: var(--brand-color);
  color: white; 
  position: relative;
  top: -1rem;
}

.button_continue:hover{
  opacity: 0.8;

}


.button_back:hover{
  opacity: 0.7;
}


